<!DOCTYPE html>
<html>
  <head>
    <title>MikeAuerbachPhotography</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_include_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= javascript_pack_tag 'application',  'data-turbolinks-track': 'reload', defer: true %>
  </head>
  <body>
    <%= link_to categories_path do %>
      <div id="backgr" class="container">
        <div class="row home-logo">
          <h1 class="mikeauerbachhome center-div my-auto mx-auto col-xs-12 col-md-6 col-lg-4 col-xl-3">
            <p class=' mikeauerbachhome__oben'>PHOTOGRAPHY <br>
            <p class=' mikeauerbachhome__unten'>MIKE AUERBACH </p>
          </h1>
          </div>
        </div>
      </div>
    <% end %>
  </body>
</html>

