<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <%= favicon_link_tag %>
    <title>Photography Mike Auerbach</title>

    <meta name="description" content="Professional pictures of you or your product.">
    <!-- Open-Graph for Facebook -->
    <meta name="description" content="Professional pictures of you or your product.">
    <meta property="og:title" content="Photography Mike Auerbach" />
    <meta property="og:description" content="Professional pictures of you or your product." />
    <meta property="og:image" content='//https://res.cloudinary.com/dovtq7cpo/image/upload/v1595491938/4q1y58mczkhqz9ttqvcr6omaa8sl.jpg'/>
    <meta property="og:image:width" content='1200'/>
    <meta property="og:image:height" content='630'/>
    <!-- Open-Graph for Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:description" content="Professional pictures of you or your product." />
    <meta name="twitter:text:title" content="Photography Mike Auerbach" />
    <meta name="twitter:image" content="//https://res.cloudinary.com/dovtq7cpo/image/upload/v1595491938/4q1y58mczkhqz9ttqvcr6omaa8sl.jpg">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= link_to shootings_path do %>
      <div id="backgr" class="container">
        <div class="row home-logo">
          <h1 class="mikeauerbachhome center-div my-auto mx-auto col-xs-12 col-md-6 col-lg-4 col-xl-3">
            <p class=' mikeauerbachhome__oben'>PHOTOGRAPHY <br>
            <p class=' mikeauerbachhome__unten'>MIKE AUERBACH </p>
          </h1>
          </div>
        </div>
      </div>
    <% end %>
  </body>
</html>
